/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    color: #333;
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    font-family: 'Roboto Slab', serif;
    font-size: 32px;
    font-weight: bold;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 8px 15px;
    border-radius: 5px;
    background-color: #ddd;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #aaa;
    color: #fff;
}

/* Footer styles */
footer {
    background-color: #fff;
    padding: 10px 20px;
    text-align: center;
}

.footer-content {
    font-size: 16px;
    color: #666;
}

/* Section styles */
section {
    background-color: #ff8c00;
    padding: 20px;
}

/* Form container styles */
.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Form row styles */
.form-row {
    flex: 1;
    margin-bottom: 15px;
}

/* Select styles */
select {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
    margin-bottom: 10px;
}

/* Submit button styles */
input[type="text"] {
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


/* Table container styles */
.table-container {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px; /* Adjust margin as needed */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Table styles */
.data-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.data-table th,
.data-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.data-table th {
    background-color: #f0f0f0;
    font-weight: bold;
}
/* Price input styles */
.form-row input[type="number"] {
    width: calc(100% - 10px);
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
    margin-bottom: 10px;
}

/* "Show Prices" button styles */
.form-row input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff8c00;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-row input[type="submit"]:hover {
    background-color: #e07700;
}